body {
background: #8DC63F;
}
.letter.t {
  width:60px;
}
.letter.b{
  width:130px;
}
.letter.w{
  width:140px;
}
#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:1200px;
    }
.letter {
  position:relative;
  float:left;
  width:100px;
  height:140px;
  margin-left:30px;
  margin-right:30px;
  margin-top:20px;
  margin-bottom:20px;

}
.letter div {
  position:absolute;

}
.centerStuff {
 height:180px;
  display:grid;
  align-items:center;
 justify-content:center;
}
.upcircle{
      width: 10px;
      height: 10px;
      background: white;
      border-radius: 50%
    }
.downcircle{
  width: 10px;
      height: 10px;
      background:white;
      border-radius: 50%
}
.crossbar{
  width:60px;
  height:10px;
  background:white;
  border-radius:5px;
}
.crossbar222{
  width:60px;
  height:10px;
  background:white;
  border-radius:5px;
}
.crossbar .crossbar222{
	top:25px;
}
.gbottom{
width: 80px;
  height: 40px; 
  border-bottom-left-radius: 50px; 
  border-bottom-right-radius: 50px;
  border: 10px solid white;
  border-top: 0;
}
.g .gbottom{
  top:90px;
}
.gtop{
   width: 40px;
  height: 80px;
  border-top-left-radius: 50px; 
  border: 10px solid white;
  border-right: 0;
  border-bottom:0;
}
.gtop .upcircle{
  right:-5px;
  top:-10px;
}
.g .crossbar{
top:60px;
  left:60px;
}
.gbottom .upcircle{
  right:-10px;
  top:-5px;
}
.crossr{
  height:60px;
  border:5px solid white;
border-radius:5px;
}
.r .crossr{
  right:60px;
  transform:rotate(135deg)translateX(30px)translateY(-80px);
}
.pcopy{
  width: 80px;
  height: 60px; 
  border-radius:5px;
  border-top-left-radius: 60px; 
  border-top-right-radius: 60px;
  border: 10px solid white;
  border-bottom: 0;
}
.verticle{
height:70px;
border:5px solid white;
}
.a .verticle {
top:60px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
}
.verticle2{
height:45px;
border:5px solid white;
border-radius:5px;
}
.a .verticle2 {
  top:85px;
  left:90px;
  
}
.a .crossbar {
  top:60px;
  left:40px;
  
}
.oshape{
  width: 80px;
  height: 120px;
  border-radius: 55px;  
  border: 10px solid white;
}
.wleft{
  bottom:0px;
  height:100px;
  width:80px;
  border:10px solid white;
  border-top:0;
  border-bottom-right-radius:60px;
  border-bottom-left-radius:60px;
}
.wright{
  right:0px;
  bottom:0px;
  height:100px;
  width:80px;
  border:10px solid white;
  border-top:0;
  border-bottom-right-radius:60px;
  border-bottom-left-radius:60px;
}
.leftwverticle{
  height:20px;
  border:5px solid white;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
}
.wleft .leftwverticle{
left:-10px;
bottom:100px;
}
.wright .leftwverticle{
  right:-10px;
bottom:100px;
}
.wleft .upcircle{
  right:-10px;
bottom:95px;
}
.wright .upcircle{
   left:-10px;
bottom:95px;
}
.w .crossbar{
  top:0px;
  left:40px;
}
.e .crossbar{
  top:60px;
  left:35px;
}
.cshape{
  width: 80px;
  height: 120px;
  border-bottom-left-radius: 55px;  
  border-top-left-radius: 55px; 
  border: 10px solid white;
  border-right: 0;
}
.cshape .upcircle{
  right:-5px;
  top:-10px;
}
.c .downcircle{
  right:-5px;
  bottom:-10px;

}

.bdown{
  width: 40px;
  height: 25px;
  border-top-left-radius: 30px;  
  border-top-right-radius: 30px; 
  border: 10px solid white;
  border-bottom: 0;
}

.bdown .upcircle{
 top:20px;
 left:-10px;

}

.b .bdown{
  top:92.5px;
  left:80px;
  transform:rotate(90deg);
}
.crossbar2{
  width:90px;
  border:5px solid white;
  
}
.b .crossbar2{
  top:130px;
}
.b .crossbar {
  top:80px;
  left:40px;
  
}
.b .upcircle{
  top:55px;
  right:-10px;
}
.crossk{
  height:90px;
  border:5px solid white;
border-radius:5px;
}
.k .crossk{
transform:rotate(45deg) translateY(-50px) translateX(30px);

}
.bottomk{
  bottom:0px;
  left:30px;
  height:40px;
  width:60px;
  border:10px solid white;
  border-left:0;
  border-bottom:0;
  border-top-right-radius:20px;
}
.bottomk .upcircle{
  top:-10px;
  left:-5px;
}
.bottomk .downcircle{
  bottom:-5px;
  right:-10px;
}
.verticleh{
height:130px;
border-radius:5px;
border: 5px solid white;
}
.verticlet{
 height:100px;
border-radius:5px;
border: 5px solid white;
}
.t .verticlet{
  left:25px;
  bottom:0px;
}