body {
  width:100vw;
  height:100vh;
  transition:background 200ms ease;  
  font-family:Menlo, monospace;
}

.navcenter{
height:20vw;
width:80vw;
  display:flex;
  align-items:center;
  justify-content:center;
}
.nav div {
position:absolute;

}
.nav{
  position:relative;
  float:left;
  width:20vw;
  height:15vw;
  margin-left:5vw;
  transition: all .2s ease-in-out;
}

.n1{
background-image: url(1.jpg);
 background-size: cover;
}
.n2{
background-image: url(2.jpg);
 background-size: cover;
}
.n3{
background-image: url(3.jpg);
 background-size: cover;
}